body {
    background-color: #FDFDFD;
    padding-top: 30px !important;
}

.star-desc {
    color: grey;
}

.field {
    padding-bottom: 4em;
}

.main.container {
    height: 700px !important;
    width: 450px !important;
    padding: 0;
}

.above.container {
    width: 600px !important;
}

.above p {
    text-align: center;
    padding-bottom: 1em;
}


.star-desc {
    color: grey;
}

#early-exit-instruction {
    opacity: 0;
    font-size: 1.4em;
}

.steps {
    width: 600px !important;
    margin-bottom: 5% !important;
    margin-left: auto !important;
}

.ui.steps .step .description {
    font-size: 1.5em !important;
}

.rating .icon {
    width: 40px !important;
}

.radio label {
    text-align: left !important;
}

.rating-desc span {
    width: 100px;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
}

.rating-desc .left {
    text-align: left;
}

.rating-desc .right {
    text-align: right;
}

button {
    width: 100px;
    margin: auto !important;
    display: block !important;
    margin-top: 2em !important;
}

#first-instructions {
    width: 250px !important;
}

form {
    margin: auto !important;
    display: block !important;
    width: 203px;
    padding-top: 50px;
}


.instructions {
    margin-bottom: 4em !important;
}

#variant-choices label {
    padding: 1px 4px;
    color: white;
    font-weight: bold;
    margin-left: 10px;
}

#percentile {
    font-weight: bold;
}
